h1 {
    margin: 110px auto 35px auto;
    color: #293845;
    font-size: 24px;
    font-weight: 400;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
    justify-content: space-between;
    margin-bottom: 40px;
    cursor: pointer;
}

@media (max-width: 345px){
    .movies {
        justify-content: center;
    }
}

