.seatCircle {
    width: 26px;
    height: 25px;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5px;
}

.seatCircle.true {
    background-color: #C3CFD9;
    border: 1px solid #808F9D
}

.seatCircle.false {
    background-color: #FBE192;
    border: 1px solid #F7C52B
}  

.seatCircle.true.selected {
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E
}