.movie{
    width: 145px;
    height: 209px;
    border-radius: 3px;
    position: relative;
    padding: 8px;
    box-shadow: 0px 2px 4px 2px #0000001A;
}
.movie img{
    width:129px;
    height: 193px;
    position: absolute;
}
